/* background color */
.login-block {
  margin-top: -20px;
  background: #524ac7;
  background: -webkit-linear-gradient(right, #f3f2f8, #d2d1d4);
  float: left;
  width: 100%;
  padding: 50px 0;
}
/* to fit image */
.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
/* card background color white */
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
/* padding for login label */
.login-sec {
  padding: 50px 30px;
  position: relative;
}
/* login label */
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #524ac7;
}
/* line below login */
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #524ac7;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}