<!--The content below is only a placeholder and can be replaced.-->

<div style="color:white; background-color: purple; padding: 5px;
background: -webkit-linear-gradient(left, #3931af, #00c6ff);
z-index: 1;
color:white;
width: 100%;">
<div style="padding: 10px;"><img height="45px" src ="../assets/images/Capgemini.png" ></div>
  <h1 style="text-align:center; margin-top: -50px;">
    <b>Policy Quote Generation System</b>    
  </h1>
</div>
<div>
  <router-outlet  ></router-outlet> 
</div>
<br><br><br>
<footer class="page-footer font-small blue footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright: Capgemini India
  </div>
  <!-- Copyright -->
</footer>